.navbar-fixed{
    left:0;
    top:0;
    position: fixed;
    width: 100%;
    z-index: 10000;
}

.loops-container{
    /* height: calc( 100vh - 56px ); */
    margin-top: 56px;
}

.loop{
    height: calc( (100vh - 56px)/16 );
    display: flex;
    justify-content: flex-start;
    position: relative;
}

.bar{
    width: 64px;
    min-width: 64px;
    height: 100%;
    display: block;
    background: #888;
    border: 1px solid #666;
}
.bar.active{
    background: #aaa;
}

.action{
    position: absolute;
    height: 2vh;
    background: red;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    opacity: .8;
}
.action.active{
    background: yellow;
}
.action-control{
    width:72px;
}