.navbar-fixed {
    left: 0;
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 10;
}

.loop {
    height: calc( (100vh - 56px - 18px - 26px)/16);
    display: flex;
    justify-content: flex-start;
    position: relative;
}

.loop-indicator {
    height: 100vh;
    position: fixed;
    z-index: 100;
    overflow: hidden;
    background: #333333;
}

.loops-container {
    margin-left: 26px;
}

.bar-indicator {
    display: flex;
    margin-top: 56px;
    margin-left: 26px;
}

.bar {
    width: 64px;
    min-width: 64px;
    height: 100%;
    display: block;
    background: #888;
    border: 1px solid #666;
    float: left;
}

.bar:nth-child(4n) {
    border-right-color: black;
}

.bar:nth-child(8n) {
    border-right-color: black;
    border-right-width: 2px;
}

.bar.active {
    background: #aaa;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, .3);
    z-index: 10;
    border-color: #999;
}

.bar-numbered {
    background: transparent;
    border: 1px solid transparent;
}

.bar-loop-indicator {
    float: none;
    height: calc( (100vh - 56px - 18px - 26px)/16);
}

.badge-bar {
    position: relative;
    transform: translateX(-50%);
}

.badge-loop {
    position: relative;
    transform: translateY(-70%);
    top: 50%;
}

.action {
    position: absolute;
    height: 100%;
    background: red;
    top: 50%;
    width: 80%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 11;
    border: 5px solid #888;
    box-shadow: 0 0 3px 1px #666;
}

.action.active {
    background: yellow;
    z-index: 12;
}

.action-control {
    width: 72px!important;
}